@import '../properties';

.backbtn {
	display: flex;
	justify-content: right;
	margin-top: 16px;

	button {
		border: none;
		outline: none;
		border-radius: 8px;
		padding: 8px 16px;
		font-weight: bold;
		font-size: 22px;
		background-color: $blue;
		color: #fff;
	}
}
