@import '../properties';

.comingsoon {
	margin: 0;
	padding: 0;
	font-family: $quicksand;
	background-color: $dark-secondary;
	
	.csContainer {
		height: 91.7vh;
		display: flex;
		justify-content: center;
		align-items: center;

		.csWrapper {
			text-align: center;

			h2 {
				font-size: 5rem;
				font-weight: bold;
				color: #fff;
			}

			.box {
				width: 100%;
				display: flex;
				justify-content: center;

				p {
					font-size: 18px;
					color: #fff;
					width: 60%;
				}
			}

			button {
				margin-top: 24px;
				width: 56%;
				padding: 8px 0;
				border: none;
				border-radius: 8px;
				outline: none;
				font-size: 1.3em;
				font-weight: bold;
				color: $dark-secondary;
			}
		}
	}
}

@media only screen and (min-width: 500px) {
	.csContainer {
		height: 90.4vh;

		h2 {
			font-size: 8rem;
		}
	}
}
