@import '../properties';

.diferensial {
	font-family: $quicksand;
	background-color: $dark-secondary;

	.sidebar {
		height: 485px;
		overflow-y: scroll;
		position: fixed;
		padding-right: 30px;
		margin-top: 50px;

		.pointer {
			cursor: pointer;
		}

		&::-webkit-scrollbar {
			width: 1em;
		}
		 
		&::-webkit-scrollbar-track {
			background-color: $dark-primary;
		}
		 
		&::-webkit-scrollbar-thumb {
			background-color: $lightgray;
			border-radius: 4px;
		}
	}

	.main-template {
		.wrapper {
			height: 100vh;
			margin: 45px 0 0 10px;
			padding: 16px;
			background-color: $dark-primary;
			color: #fff;
			border-radius: 8px;
		}

		.back-btn {
			display: flex;
			justify-content: right;
			margin-top: 16px;

			button {
				border: none;
				outline: none;
				border-radius: 8px;
				padding: 8px 16px;
				font-weight: bold;
				font-size: 22px;
				background-color: $blue;
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}
}
