@import '../properties';

.inequality {
	font-family: $quicksand;
	background-color: $dark-secondary;

	.sidebar {
		// height: 485px;
		width: 350px;
		overflow-y: scroll;
		position: fixed;
		padding-right: 30px;
		margin-top: 50px;

		.pointer {
			cursor: pointer;
		}

		&::-webkit-scrollbar {
			width: 1em;
		}

		&::-webkit-scrollbar-track {
			background-color: $dark-primary;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $lightgray;
			border-radius: 4px;
		}
	}

	.main {
		.wrapper {
			margin: 45px 0 0 10px;
			padding: 16px;
			background-color: $dark-primary;
			color: #fff;
			border-radius: 8px;

			p {
				font-size: 20px;
				text-align: justify;

				table {
					margin: 12px 0;

					td {
						text-align: center;
						width: 50px;
						border: 2px solid #fff;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}

	.wrapper > p {
		font-size: 12px;
		text-align: left;
	}
}
