@import '../properties';

.sistem-bilangan {
	font-family: $quicksand;
	background-color: $dark-secondary;

	.sidebar {
		// height: 485px;
		width: 350px;
		overflow-y: scroll;
		position: fixed;
		padding-right: 30px;
		margin-top: 50px;

		.pointer {
			cursor: pointer;
		}

		&::-webkit-scrollbar {
			width: 1em;
		}

		&::-webkit-scrollbar-track {
			background-color: $dark-primary;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $lightgray;
			border-radius: 4px;
		}
	}

	.main-sisbil {
		.wrapper {
			margin: 45px 0 0 10px;
			padding: 16px;
			background-color: $dark-primary;
			color: #fff;
			border-radius: 8px;

			p {
				font-size: 20px;
				text-align: justify;
			}

			i,
			#tnr {
				font-family: 'Times New Roman', Times, serif;
			}

			img {
				width: auto;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}

	.main-sisbil {
		.wrapper > p {
			font-size: 12px;
			text-align: left;
		}
	}
}
