@import '../../properties', '../../styles/sidebar';

.diferensial {
	font-family: $quicksand;
	background-color: $dark-secondary;

	.sidebar {
		@include sidebar;
	}

	.main-diferensial {
		.wrapper {
			height: 100vh;
			margin: 45px 0 0 10px;
			padding: 16px;
			background-color: $dark-primary;
			color: #fff;
			border-radius: 8px;
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}
}
