@import '../../properties';

.quizApp {
	height: 100vh;
	background-color: $dark-secondary;

	.question-card {
		/* Center the div  */

		/* Dimensions  */
		width: 80%; /* Can be in percentage also. */
		height: auto;

		/* Visual  */
		background-color: $gray;
		padding: 16px;
		border-radius: 16px;
		color: white;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    .question-title{
      text-align: center;
      
      .question-text {
        margin-top: 100px;
        color: darkblue;
        font-size: 24px;
      }
		}

		ul {
			list-style: none;

			li {
				margin-top: 8px;
				background-color: $lightgray;
				font-weight: bold;
				padding: 16px;
				border: 3px solid white;
				border-radius: 20px;
				font-size: 20px;
				cursor: pointer;
			}
		}
	}

	/* Final Results  */

	.final-results {
		/* Center the div  */
		margin: 0 auto;

		/* Dimensions  */
		width: 50%; /* Can be in percentage also. */
		height: auto;
		margin-top: 64px;

		/* Visual  */
		background-color: gray;
		padding: 16px;
		border-radius: 16px;
		color: white;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

		button {
			background-color: red; /* Green */
			border: none;
			color: white;
			padding: 16px 24px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			border-radius: 24px;
		}
	}
}
