@import '../../properties', '../../styles/sidebar';

.sistem-bilangan {
	font-family: $quicksand;
	background-color: $dark-secondary;

	.sidebar {
		@include sidebar;
	}

	.main-sisbil {
		.wrapper {
			margin: 45px 0 0 10px;
			padding: 16px;
			background-color: $dark-primary;
			color: #fff;
			border-radius: 8px;

			p {
				font-size: 20px;
				text-align: justify;
			}

			i,
			#tnr {
				font-family: 'Times New Roman', Times, serif;
			}

			img {
				width: auto;
			}
		}
		.button-wrapper {
			margin-top: 15px;
			display: flex;
			justify-content: right;
			gap: 10px;
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}

	.main-sisbil {
		.wrapper > p {
			font-size: 12px;
			text-align: left;
		}
	}
}
