body {
	font-family: 'Quicksand', sans-serif;

	&::-webkit-scrollbar {
		width: 1em;
	}

	&::-webkit-scrollbar-track {
		background-color: #212529;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #737373;
	}
}
