// Darkmode
$dark-primary: #212529;
$dark-secondary: #2a323e;
$gray: #444A54;
$lightgray: #737373;

// Universal
$green: #28a745;
$red: #dc3545;
$orange: #ff8c00;
$blue: #007fbb;
$blue-secondary: #3366cc;

$quicksand: 'Quicksand', sans-serif;