@import '../../properties', '../../styles/sidebar';

.fungsi {
	font-family: 'Quicksand', sans-serif;
	background-color: $dark-secondary;

	.sidebar {
		@include sidebar;
	}

	.main-fungsi {
		.wrapper {
			margin: 45px 0 0 10px;
			padding: 16px;
			background-color: $dark-primary;
			color: #fff;
			border-radius: 8px;

			p {
				font-size: 20px;
				text-align: justify;
				line-height: 28px;

				li {
					.ms-custom {
						margin-left: 115px;
					}
				}
			}
		}
		.button-wrapper {
			margin-top: 15px;
			display: flex;
			justify-content: right;
			gap: 10px;
		}
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		display: none;
	}
}
